
mixin card(data1, data2)
  a(class="card inline-block group relative" href="#")
    picture(class="block overflow-hidden lg:rounded-lg rounded-md")
      img(class="w-full h-[123px] lg:h-[277px] object-cover duration-300 group-hover:scale-105" src="../images/recommend/recommend1.jpg", alt="")
    p(class="text-base lg:text-lg text-black font-medium mt-3 lg:mt-4 line-clamp line-clamp-2 break-words duration-300 group-hover:text-primary-dark")=data1
    p(class="text-base text-gray-800 !hidden lg:!display-box lg:mt-3 line-clamp line-clamp-2 break-words")=data2
