footer(class="bg-gray-100")
  section(class="flex flex-col max-w-screen-xl px-5 pt-10 pb-6 mx-auto md:py-14")
    div(class="flex items-end justify-between")
      a(class="inline-block" href="#")
        img(class="w-[160px] md:w-[168px]" src="../images/Farmer.svg" alt="")
      div(class="flex gap-x-6")
        // facebook
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 bg-gray-400 rounded-full lg:w-9 lg:h-9 lg:hover:bg-primary-dark" href="#")
          svg(class="w-[18px] h-[18px] lg:w-4 lg:h-4 fill-current text-white" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M18.75 10.0025C18.75 5.16953 14.833 1.25253 10 1.25253C5.16699 1.25253 1.25 5.16953 1.25 10.0025C1.25 14.3707 4.44922 17.9903 8.63281 18.6466V12.5318H6.41113V10.0025H8.63281V8.0748C8.63281 5.88217 9.93848 4.6705 11.938 4.6705C12.895 4.6705 13.8965 4.8414 13.8965 4.8414V6.99472H12.7925C11.7056 6.99472 11.3672 7.66977 11.3672 8.36191V10.0025H13.7939L13.406 12.5318H11.3672V18.6466C15.5508 17.9903 18.75 14.3707 18.75 10.0025Z")
        // youtube
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 bg-gray-400 rounded-full lg:w-9 lg:h-9 lg:hover:bg-primary-dark" href="#")
          svg(class="w-[18px] h-[18px] lg:w-4 lg:h-4 fill-current text-white" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M14.167 3.33334H5.83366C3.33366 3.33334 1.66699 5.00001 1.66699 7.50001V12.5C1.66699 15 3.33366 16.6667 5.83366 16.6667H14.167C16.667 16.6667 18.3337 15 18.3337 12.5V7.50001C18.3337 5.00001 16.667 3.33334 14.167 3.33334ZM11.5753 10.8583L9.51698 12.0917C8.68364 12.5917 8.00031 12.2084 8.00031 11.2334V8.75835C8.00031 7.78335 8.68364 7.40002 9.51698 7.90002L11.5753 9.13334C12.367 9.61667 12.367 10.3833 11.5753 10.8583Z")
    div(class="flex flex-col justify-between md:mt-8 mt-9 md:flex-row")
      div(class="space-y-3")
        p(class="text-[13px] text-gray-600") 地址：221 新北市汐止區新台五路一段79號2樓
        p(class="text-[13px] text-gray-600") 電話：(02)2698-2989  #03299 & #02655
        p(class="text-[13px] text-gray-600") 服務時間：週一至週五  09:00-12:00 & 13:00-17:00
        p(class="text-[13px] text-gray-600") E-mail：farmerstationcpc@gmail.com
      div(class="mt-3 space-y-3 md:mt-0")
        p(class="text-[13px] text-gray-600") 指導單位：行政院農業委員會農糧署
        p(class="text-[13px] text-gray-600") 主辦單位：財團法人中國生產力中心
        div(class="text-left md:text-right")
          p(class="text-[10px] text-gray-600 border border-gray-600 rounded-sm px-[6px] py-[3px] inline-block") 行政院農業委員會農糧署廣告

  section(class="px-5 py-3 bg-primary")
    p(class="text-xs text-center text-white") 財團法人中國生產力中心 版權所有請尊重智慧財產權 勿任意轉載 違者依法必究
    p(class="text-xs text-center text-white") China Productivity Center © All rights Reserved 