mixin breadcrumbs(data1, data2, data3)

  ul(class="text-gray-500 text-sm flex items-center gap-x-[6px]")
    li(class="")
      a(href="#")=data1
    li /
    li 
      a(href="#")=data2
    if(data3)
      li /
      li 
        a(href="#")=data3