
mixin cardH(data1, data2, data3)
  div(class="flex items-center gap-x-6 group lg:pt-8 first:!pt-0")
    a(class="block flex-shrink-0 w-[150px] lg:w-[235px] h-[112px] lg:h-[176px] lg:rounded-lg rounded-md overflow-hidden" href="#") 
      picture
        img(class="object-cover w-full h-auto duration-200 group-hover:scale-105" src="./images/tag/tag1.png", alt="")
    div
      a(class="block" href="#") 
        p(class="text-base font-medium text-black duration-200 lg:text-lg line-clamp line-clamp-2 tracking-1 group-hover:text-primary-dark")=data1
      p(class="!hidden lg:!display-box text-15 text-gray-800 mt-3 line-clamp line-clamp-2")=data2
      div(class="flex flex-wrap mt-3 gap-x-4")
        a(class="inline-block bg-primary-light border border-primary border-opacity-20 text-primary-dark lg:text-sm text-13 px-3 py-[6px] lg:rounded-lg rounded-md" href="#")=data3
