footer(class="bg-gray-100")
  section(class="flex flex-col px-5 pt-10 pb-6 mx-auto max-w-screen-2xl lg:py-14")
    div(class="flex items-end justify-between")
      div(class="") 123
      div(class="") 456
    div(class="flex justify-between")
      div(class="") 789
      div(class="") 111
  section(class="px-5 py-3 bg-primary")
    p(class="text-xs text-center text-white") 財團法人中國生產力中心 版權所有請尊重智慧財產權 勿任意轉載 違者依法必究
    p(class="text-xs text-center text-white") China Productivity Center © All rights Reserved 