header(class="relative mx-auto max-w-screen-2xl xl:px-[68px] lg:px-12 px-5 lg:py-0 py-3 flex items-center justify-between z-40")
  a(class="w-48" href="#")
    img(src="/images/Farmer.svg" alt="")
  nav(class="flex items-center gap-x-10")
    ul(id="menu" class="lg:translate-y-0 translate-y-[calc(-100%-64px)] absolute duration-200 lg:divide-y-0 divide-y divide-black divide-opacity-10 left-0 z-30 items-center w-full h-full lg:min-h-0 min-h-[calc(100vh-64px)] leading-9 bg-white px-[40px] pt-5 lg:pt-0 lg:px-0 lg:h-auto lg:static lg:flex gap-x-12 lg:w-auto lg:left-auto lg:top-auto top-16")
      li
        a(class="block py-3 text-lg duration-200 lg:text-base whitespace-nowrap lg:hover:text-primary-dark lg:inline-block lg:py-0" href="#") 關於我們
      li
        button(class="duration-200 lg:peer whitespace-nowrap text-lg text-left w-full inline-block lg:w-auto lg:block lg:text-base lg:py-[18px] py-3 lg:hover:text-primary-dark" type="button") 在地食事
        div(class="hidden absolute top-full flex-col bg-white drop-shadow px-3 py-4 z-10 lg:peer-hover:flex hover:flex w-[200px]")
          a(class="p-3 duration-200 rounded-lg hover:text-primary-dark hover:bg-primary-lighten" href="#") 當令食材
          a(class="p-3 duration-200 rounded-lg hover:text-primary-dark hover:bg-primary-lighten" href="#") 達人推薦
      li
        button(class="duration-200 lg:peer whitespace-nowrap text-lg text-left w-full inline-block lg:w-auto lg:block lg:text-base lg:py-[18px] py-3 lg:hover:text-primary-dark" type="button") 農民直送
        div(class="hidden absolute top-full flex-col bg-white drop-shadow px-3 py-4 z-10 lg:peer-hover:flex hover:flex w-[200px]")
          a(class="p-3 duration-200 rounded-lg hover:text-primary-dark hover:bg-primary-lighten" href="#") 當令食材
          a(class="p-3 duration-200 rounded-lg hover:text-primary-dark hover:bg-primary-lighten" href="#") 達人推薦
      li
        button(class="duration-200 lg:peer whitespace-nowrap text-lg text-left w-full inline-block lg:w-auto lg:block lg:text-base lg:py-[18px] py-3 lg:hover:text-primary-dark" type="button") 食農教育
        div(class="hidden absolute top-full flex-col bg-white drop-shadow px-3 py-4 z-10 lg:peer-hover:flex hover:flex w-[200px]")
          a(class="p-3 duration-200 rounded-lg hover:text-primary-dark hover:bg-primary-lighten" href="#") 當令食材
          a(class="p-3 duration-200 rounded-lg hover:text-primary-dark hover:bg-primary-lighten" href="#") 達人推薦
      li(class="mt-3 !border-0 lg:mt-0")
        a(class="block w-full px-3 py-[10px] lg:py-2 text-sm text-center text-white duration-200 border rounded-lg whitespace-nowrap bg-primary border-primary-dark lg:text-left lg:w-auto lg:inline-block lg:hover:bg-primary-dark" href="#") 登入專區
      li(class="mt-10 !border-0 flex gap-x-6 lg:mt-0 lg:hidden")
        //- facebook
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 bg-gray-400 rounded-full" href="#")
          svg(class="w-[18px] h-[18px] text-white fill-current" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M18.75 10.0025C18.75 5.16953 14.833 1.25253 10 1.25253C5.16699 1.25253 1.25 5.16953 1.25 10.0025C1.25 14.3707 4.44922 17.9903 8.63281 18.6466V12.5318H6.41113V10.0025H8.63281V8.0748C8.63281 5.88217 9.93848 4.6705 11.938 4.6705C12.895 4.6705 13.8965 4.8414 13.8965 4.8414V6.99472H12.7925C11.7056 6.99472 11.3672 7.66977 11.3672 8.36191V10.0025H13.7939L13.406 12.5318H11.3672V18.6466C15.5508 17.9903 18.75 14.3707 18.75 10.0025Z")
        //- youtube
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 bg-gray-400 rounded-full" href="#")
          svg(class="w-[18px] h-[18px] text-white fill-current" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M14.167 3.33334H5.83366C3.33366 3.33334 1.66699 5.00001 1.66699 7.50001V12.5C1.66699 15 3.33366 16.6667 5.83366 16.6667H14.167C16.667 16.6667 18.3337 15 18.3337 12.5V7.50001C18.3337 5.00001 16.667 3.33334 14.167 3.33334ZM11.5753 10.8583L9.51698 12.0917C8.68364 12.5917 8.00031 12.2084 8.00031 11.2334V8.75835C8.00031 7.78335 8.68364 7.40002 9.51698 7.90002L11.5753 9.13334C12.367 9.61667 12.367 10.3833 11.5753 10.8583Z")            
    ul(class="flex lg:gap-x-6 gap-x-4")
      //- search
      li
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 border border-gray-400 rounded-full lg:w-9 lg:h-9 lg:bg-gray-400 lg:hover:bg-primary-dark" href="#")
          svg(class="w-4 h-4 text-gray-400 fill-current lg:text-white" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M7.83335 0.25C3.64518 0.25 0.25 3.64517 0.25 7.83332C0.25 12.0215 3.64518 15.4166 7.83335 15.4166C12.0215 15.4166 15.4167 12.0215 15.4167 7.83332C15.4167 3.64517 12.0215 0.25 7.83335 0.25ZM1.41667 7.83332C1.41667 4.2895 4.28951 1.41666 7.83335 1.41666C11.3772 1.41666 14.25 4.2895 14.25 7.83332C14.25 11.3771 11.3772 14.25 7.83335 14.25C4.28951 14.25 1.41667 11.3771 1.41667 7.83332Z")
            path(d="M14.4681 13.6431C14.2403 13.4153 13.871 13.4153 13.6432 13.6431C13.4153 13.8709 13.4153 14.2403 13.6431 14.4681L16.7542 17.5791C16.982 17.8069 17.3513 17.807 17.5791 17.5791C17.8069 17.3513 17.807 16.982 17.5791 16.7542L14.4681 13.6431Z")
      //- facebook
      li(class="hidden lg:block")
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 border border-gray-400 rounded-full lg:w-9 lg:h-9 lg:bg-gray-400 lg:hover:bg-primary-dark" href="#")
          svg(class="w-4 h-4 text-gray-400 fill-current lg:text-white" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M18.75 10.0025C18.75 5.16953 14.833 1.25253 10 1.25253C5.16699 1.25253 1.25 5.16953 1.25 10.0025C1.25 14.3707 4.44922 17.9903 8.63281 18.6466V12.5318H6.41113V10.0025H8.63281V8.0748C8.63281 5.88217 9.93848 4.6705 11.938 4.6705C12.895 4.6705 13.8965 4.8414 13.8965 4.8414V6.99472H12.7925C11.7056 6.99472 11.3672 7.66977 11.3672 8.36191V10.0025H13.7939L13.406 12.5318H11.3672V18.6466C15.5508 17.9903 18.75 14.3707 18.75 10.0025Z")
      //- youtube
      li(class="hidden lg:block")
        a(class="box-border flex items-center justify-center w-10 h-10 duration-200 border border-gray-400 rounded-full lg:w-9 lg:h-9 lg:bg-gray-400 lg:hover:bg-primary-dark" href="#")
          svg(class="w-4 h-4 text-gray-400 fill-current lg:text-white" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M14.167 3.33334H5.83366C3.33366 3.33334 1.66699 5.00001 1.66699 7.50001V12.5C1.66699 15 3.33366 16.6667 5.83366 16.6667H14.167C16.667 16.6667 18.3337 15 18.3337 12.5V7.50001C18.3337 5.00001 16.667 3.33334 14.167 3.33334ZM11.5753 10.8583L9.51698 12.0917C8.68364 12.5917 8.00031 12.2084 8.00031 11.2334V8.75835C8.00031 7.78335 8.68364 7.40002 9.51698 7.90002L11.5753 9.13334C12.367 9.61667 12.367 10.3833 11.5753 10.8583Z")
      //- menu
      li(class="block lg:hidden")
        button(id="menuButton" class="box-border flex items-center justify-center w-10 h-10 duration-200 border border-gray-400 rounded-full lg:w-9 lg:h-9 lg:bg-gray-400 lg:hover:bg-primary-dark" type="button")
          svg(class="w-[26px] h-4 fill-current" viewbox="0 0 26 6" fill="none" xmlns="http://www.w3.org/2000/svg")
            circle(id="menuCircle1" cx="3" cy="3" r="3" fill="#87BE23")
            circle(id="menuCircle2" cx="13" cy="3" r="3" fill="#FAB900")
            circle(id="menuCircle3" cx="23" cy="3" r="3" fill="#87BE23")
            rect(id="menuLine" class="opacity-0" width="26" height="6" rx="3" fill="#87BE23")
  //- div(id="menu" class="absolute left-0 z-20 w-full h-[calc(100vh-64px)] bg-red-500 top-full") test
