doctype html
html(lang="zh-Hant-TW")
  include ./components/common/head.pug
  body
    include ./components/common/header.pug
    h1(class="text-3xl font-bold leading-relaxed text-gray-700") About
    include ./components/common/footer.pug
