include ./components/common/head.pug
include ./components/common/breadcrumbs.pug
include ./components/common/card.pug

doctype html
html(lang="zh-Hant-TW")
  +head("category")
  body
    include ./components/common/header.pug
    main(class="mt-[52px] lg:mt-[72px]")
      // 浮動 banner
      div(class="bg-primary-light border-b border-primary-dark px-5 lg:px-0 py-[10px] lg:py-3 sticky lg:top-[72px] top-[52px] z-20")
        div(class="max-w-screen-xl mx-auto")
          p(class="text-primary-dark text-15 lg:text-base") 當令食材
      // 主圖
      section(class="bg-white relative mt-[-49px] z-30")
        div(class="relative max-w-screen-xl mx-auto overflow-hidden xl:rounded-lg before:absolute before:inset-0 before:w-full before:h-full before:bg-gradient-to-r before:from-black/50 before:via-black/0 before:to-black/50")
          img(class="w-full h-[150px] xl:h-[250px] object-cover" src="./images/category/category-bg.png" alt="")
          h1(class="absolute text-2xl font-bold text-white top-14 xl:top-16 left-5 xl:left-8 xl:text-4xl") 當令食材(文章列表頁)
      section(class="max-w-screen-xl px-5 mx-auto mt-6 xl:mt-8 mb-14 xl:mb-20 xl:px-0")
        // 麵包屑
        +breadcrumbs("首頁", "當令食材")
        // 文章列表
        div(class="mt-6 xl:mt-8")
          div(class="grid grid-cols-2 xl:grid-cols-3 gap-x-6 xl:gap-x-[40px] gap-y-8 xl:gap-y-16")
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
              +card("農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷", "牆面照片裡的小農，臉上掛著靦腆而自信的笑容，李智遠總幹事說：「現在有 65 位農友登錄，用 Line 群組即時溝通，提供銷售訊息。」")
        // 分頁
        div(class="mt-8 xl:mt-[52px] lg:mt-[72px]")
          ul(class="flex items-center justify-center space-x-4")
            // 上一頁
            li
              a(class="inline-flex items-center justify-center text-xs text-gray-500 duration-200 gap-x-2 whitespace-nowrap hover:text-primary" href="#")
                svg(class="fill-current w-[6px]" viewbox="0 0 8 14" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M6.90027 0.51631C7.14435 0.760388 7.14435 1.15612 6.90027 1.40019L1.50888 6.79159L6.90027 12.183C7.14435 12.4271 7.14435 12.8228 6.90027 13.0669C6.6562 13.3109 6.26047 13.3109 6.01639 13.0669L0.183058 7.23353C-0.0610194 6.98945 -0.0610194 6.59372 0.183058 6.34964L6.01639 0.51631C6.26047 0.272233 6.6562 0.272233 6.90027 0.51631Z")
                span 上一頁
            // 上一頁 end
            // active 樣式 class 加上 !bg-primary !border-primary-dark !text-white
            li
              a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm border border-transparent rounded-lg duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white !bg-primary !border-primary-dark !text-white" href="#")
                | 1
            li
              a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm border border-transparent rounded-lg duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white" href="#")
                | 2
            li
              a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm border border-transparent rounded-lg duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white" href="#")
                | 3
            li
              span(class="inline-flex items-center justify-center text-gray-800 text-sm w-[22px] h-[22px]")
                | ...
            li
              a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm border border-transparent rounded-lg duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white" href="#")
                | 999
            // 下一頁
            li
              a(class="inline-flex items-center justify-center text-xs text-gray-500 duration-200 gap-x-2 whitespace-nowrap hover:text-primary" href="#")
                span 下一頁
                svg(class="fill-current w-[6px]" viewbox="0 0 8 14" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M0.683058 0.724806C0.927136 0.480729 1.32286 0.480729 1.56694 0.724806L7.40027 6.55814C7.64435 6.80222 7.64435 7.19795 7.40027 7.44202L1.56694 13.2754C1.32286 13.5194 0.927136 13.5194 0.683058 13.2754C0.438981 13.0313 0.438981 12.6356 0.683058 12.3915L6.07445 7.00008L0.683058 1.60869C0.438981 1.36461 0.438981 0.968884 0.683058 0.724806Z")

            // 下一頁 end
            // 分頁 end

    include ./components/common/footer.pug
    include ./components/common/gotop.pug
