@import url("./tailwind.css");

@media (min-width: 1280px) {
  .card:nth-child(3n + 4)::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: calc(300% + 80px);
  }
}

.wrapper.active .inner {
  fill: #f39313;
}

.wrapper .text {
  color: #3f3d3c;
  fill: #3f3d3c;
}

.wrapper.active .text {
  color: #ffffff;
  fill: #ffffff;
}
