doctype html
html(lang="zh-Hant-TW")
  include ./components/common/head.pug
  body
    include ./components/common/header.pug
    h1(class="relative block text-3xl font-bold leading-relaxed bg-gray-100 text-primary") test 繁體中文
    include ./components/common/footer.pug
    include ./components/common/gotop.pug
