@import url("./tailwind.css");

.article-bg {
  &:before {
    background-image: url("../images/background/index_article.jpg");
  }
}

.recommend-bg {
  &:before {
    background-image: url("../images/background/index_article.jpg");
  }
}

.basis-147 {
  flex-basis: 147px;
}

.triangle:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: #87be23 transparent transparent transparent;

  @screen md {
    content: none;
  }
}

.swiper-main .swiper-slide {
  @apply before:absolute before:inset-0 before:z-1 before:w-full before:h-full before:bg-black before:bg-opacity-20;
}

.swiper-main-pagination {
  @apply hidden lg:flex items-center justify-center !bottom-8;
}

.swiper-pagination-bullet {
  @apply !bg-white !opacity-50 first:!w-[6px] first:!h-[6px] last:!w-[6px] last:!h-[6px] !w-[10px] !h-[10px];
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !opacity-100;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}

.map-list-title {
  @apply flex lg:block items-center justify-between text-left w-full bg-white lg:bg-transparent text-black lg:text-primary text-base lg:text-2xl px-5 lg:px-0 pt-[10px] lg:pt-0 pb-[10px] lg:pb-3 lg:mb-3 border lg:border-b lg:border-t-0 lg:border-r-0 lg:border-l-0 rounded-md lg:rounded-none border-primary-dark duration-200 focus-within:bg-secondary-dark focus-within:lg:bg-transparent focus-within:text-white focus-within:lg:text-black focus-within:border-secondary-dark focus-within:lg:border-primary-dark focus-within:rounded-bl-none focus-within:rounded-br-none;
}

.map-list-title-active {
  @apply !text-secondary-dark;
}

.map-list-item {
  @apply relative flex items-center justify-between text-base text-black duration-200 whitespace-nowrap lg:inline-block gap-x-8 lg:gap-x-0;
}

.map-list-item-active {
  @apply !text-secondary-dark;
}

.map-list-item:nth-child(2n) {
  @apply before:lg:absolute before:lg:w-[6px] before:lg:h-[6px] before:lg:bg-gray-200 before:lg:rounded-full before:lg:top-1/2 before:lg:left-[-19px] before:lg:-translate-y-1/2;
}

.map-active {
  @apply text-secondary-dark;
}

.fb-page span {
  @apply !w-full;
}

.fb-page span iframe {
  @apply !w-full;
}
