include ./components/common/head.pug
include ./components/common/breadcrumbs.pug
include ./components/common/title.pug
include ./components/list/card.pug
include ./components/list/cardActivity.pug

doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/list.css")
    link(rel="stylesheet" href="../src/swiper-bundle.min.css")
    script(src="../js/list.js" defer)
    script(src="../src/swiper-bundle.min.js")
    title list
  body
    include ./components/list/header.pug
    main(class="mt-[52px] lg:mt-[72px]")
      // 浮動 banner
      div(id="banner" class="fixed top-0 left-0 z-20 w-full px-5 py-3 transition-all duration-300 ease-out bg-gray-100 lg:px-0")
        div(class="flex max-w-screen-xl mx-auto overflow-x-auto gap-x-4 lg:gap-x-6")
          // active 狀態 !bg-primary !text-white !border-primary-dark
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark !bg-primary !text-white !border-primary-dark" href="#") 北北基    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 桃園    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 新竹    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 苗栗    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 臺中    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 彰化    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 南投    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 雲林    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 嘉義    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 臺南    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 高雄    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 屏東    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 宜蘭    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 花蓮    
          a(class="inline-block text-gray-600 text-sm px-[10px] py-[5px] whitespace-nowrap border border-gray-200 lg:rounded-lg rounded-md duration-200 hover:bg-primary hover:text-white hover:border-primary-dark" href="#") 臺東    
      // 主圖 
      section(class="relative bg-white")
        div(class="relative max-w-screen-xl mx-auto overflow-hidden xl:rounded-lg before:absolute before:inset-0 before:w-full before:h-full before:bg-gradient-to-r before:from-black/50 before:via-black/0 before:to-black/50")
          img(class="w-full h-[150px] xl:h-[250px] object-cover" src="../images/farmers/farmers-list-bg1.png" alt="")
          h1(class="absolute text-2xl font-bold text-white top-14 xl:top-16 left-5 xl:left-8 xl:text-4xl") 北北基
      section(class="max-w-screen-xl px-5 mx-auto mt-6 mb-6 xl:mt-8 xl:mb-8 xl:px-0")
        // 麵包屑
        +breadcrumbs("首頁", "全臺農民直銷據點", "北北基")

      //- 區塊輪播卡
      section(class="grid max-w-screen-xl grid-cols-1 px-5 mx-auto mt-6 lg:mt-8 xl:px-0 lg:grid-cols-2 gap-x-0 lg:gap-x-16 lg:gap-y-16 gap-y-8")
        each val in [1, 2, 3]
          div(class="swiper-container")
            div(class="swiper swiper-list w-full h-[264px] lg:h-[426px] rounded-lg overflow-hidden")
              // Additional required wrapper
              div(class="swiper-wrapper peer before:absolute before:inset-0 before:z-1 before:w-full before:h-full before:opacity-20 before:bg-gradient-to-r before:from-black before:via-transparent before:to-black")
                // Slides
                each val in [1, 2, 3, 4, 5, 6, 7]
                  div(class="swiper-slide")
                    img(class="object-cover object-center w-full h-full" src=`../images/index/index-bg${val}.jpg`, alt="")
              div(class="swiper-pagination swiper-list-pagination")
              div(class="swiper-button-prev swiper-button-list-prev duration-200 opacity-0 peer-hover:opacity-100 hover:opacity-100 flex bg-white items-center justify-center !w-9 !h-9 rounded-full !left-4")
                img(src="../images/icons/Arrow-Left.svg" alt="")
              div(class="swiper-button-next swiper-button-list-next duration-200 opacity-0 peer-hover:opacity-100 hover:opacity-100 flex bg-white items-center justify-center !w-9 !h-9 rounded-full !right-4")
                img(src="../images/icons/Arrow-Right.svg" alt="")
            div(class="mt-5")
            div(class="flex flex-col lg:items-center gap-x-4 lg:flex-row lg:gap-y-0 gap-y-3")
              p(class="text-lg font-medium text-black break-words lg:text-xl line-clamp lg:line-clamp-2 line-clamp-1 tracking-1") 新北市五股區農會農民直銷站新北市五股區農會農民直銷站新北市五股區農會農民直銷站新北市五股區農會農民直銷站
              div(class="flex items-center lg:self-center self-start flex-shrink-0 gap-x-[6px] px-3 lg:py-2 py-[6px] bg-primary lg:rounded-lg rounded-md")
                img(class="" src="../images/icons/Check.svg" alt="")
                p(class="text-white lg:text-sm text-13") 設置惜食區
            ul(class="mt-3 space-y-3 lg:mt-5")
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 營業地址：
                p 新北市五股區民義路一段21號
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 營業時間：
                // 營業中 / 休息中 用 hidden 做隱藏
                p(class="text-primary-dark") 營業中
                p(class="hidden text-gray-600") 休息中
                div(class="relative flex items-center pl-3 ml-3 border-l border-black cursor-pointer dropdown border-opacity-20" tabindex="-1")
                  div(class="flex items-center dropdown-btn gap-x-2")
                    span(class="text-sm") 查看時間
                    img(src="../images/icons/DropDown.svg" alt="")
                  div(class="fixed lg:z-10 z-50 lg:w-auto w-full lg:h-auto h-full invisible transition-all duration-300 origin-top transform scale-95 lg:-translate-x-1/2 -translate-x-0 lg:!-translate-y-2 !-translate-y-0 opacity-0 dropdown-menu lg:absolute top-0 lg:top-10 lg:left-1/2 left-0 lg:origin-top-center  before:bg-black before:absolute before:inset-0 before:w-full before:h-full before:bg-opacity-50 before:lg:rounded-lg before:rounded-none")
                    div(class="triangle-share w-[294px] lg:w-[169px] relative lg:z-0 z-40 lg:left-auto left-1/2 lg:top-auto top-1/2 lg:translate-x-0 -translate-x-1/2 lg:translate-y-0 -translate-y-1/2 before:right-0 before:lg:right-auto before:lg:left-1/2 before:left-auto bg-white lg:rounded-lg rounded-md lg:px-4 lg:py-2 pt-6 px-8 pb-6 shadow")
                      button(class="absolute flex items-center justify-center rounded-full dropdown-close-btn -top-4 -right-4 lg:hidden w-9 h-9 bg-primary" type="button")
                        img(src="../images/icons/Cross.svg" alt="")
                      div(class="flex items-center lg:hidden gap-x-2")
                        img(src="../images/icons/Clock.svg" alt="")
                        p(class="text-base text-black") 營業時間
                      ul(class="space-y-[10px] grid grid-cols-1 divide-y divide-gray-100 lg:mt-0 mt-4")
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期日
                            span 11:30–15:00
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期一
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期二
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期三
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期四
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期五
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期六
                            span 11:30–15:00
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 電話：
                p (02)2294-2223
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 農特產：
                p 絲瓜、洋蔥、番石榴、萵苣菜、玉米、芒果、金鑽鳳梨、冬瓜、木瓜、火龍果
              li(class="flex text-gray-600 lg:text-base text-15 gap-x-4")
                a(class="flex items-center gap-x-[6px] border border-gray-200 rounded-full px-4 py-2 duration-200 group hover:bg-primary-dark hover:border-primary-dark" href="#")
                  svg(class="duration-200 fill-current group-hover:text-white" width='15' height='16' viewbox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7383 5.75073C14.7383 5.68998 14.7285 5.62995 14.709 5.5722L13.893 3.12354C13.4078 1.66704 12.0495 0.6875 10.5135 0.6875H4.33803C2.80203 0.6875 1.44454 1.66629 0.958542 3.12354L0.142532 5.5722C0.123032 5.62995 0.113281 5.68998 0.113281 5.75073C0.114031 6.48423 0.402781 7.14725 0.863281 7.64825V12.5C0.863281 14.051 2.12478 15.3125 3.67578 15.3125H6.50851V12.5C6.50851 11.9832 6.92926 11.5625 7.44601 11.5625C7.96276 11.5625 8.38351 11.9832 8.38351 12.5V15.3125H11.1758C12.7268 15.3125 13.9883 14.051 13.9883 12.5V7.64825C14.4488 7.1465 14.7375 6.48423 14.7383 5.75073ZM2.02577 3.47903C2.35802 2.48228 3.28728 1.8125 4.33803 1.8125H10.5135C11.5643 1.8125 12.4935 2.48228 12.8258 3.47903L13.611 5.83478C13.5668 6.74003 12.8453 7.4375 11.9333 7.4375C11.1735 7.4375 10.431 6.95446 10.206 6.31396C10.1273 6.08821 9.9143 5.9375 9.67505 5.9375H9.67276C9.43276 5.93825 9.21978 6.09122 9.14253 6.31772C8.92428 6.95597 8.18552 7.4375 7.42427 7.4375C6.66302 7.4375 5.92426 6.95597 5.70601 6.31772C5.62876 6.09122 5.41578 5.93825 5.17578 5.9375H5.17354C4.93504 5.9375 4.72128 6.08821 4.64253 6.31396C4.41753 6.95446 3.67503 7.4375 2.91603 7.4375C2.00403 7.4375 1.28253 6.74003 1.23828 5.83478L2.02577 3.47903ZM11.1758 14.1875H9.50851V12.5C9.50851 11.3622 8.58301 10.4375 7.44601 10.4375C6.30901 10.4375 5.38351 11.3622 5.38351 12.5V14.1875H3.67578C2.74503 14.1875 1.98828 13.4307 1.98828 12.5V8.39075C2.28078 8.495 2.59052 8.5625 2.91827 8.5625C3.78377 8.5625 4.62001 8.17398 5.17276 7.56723C5.72251 8.17473 6.55728 8.5625 7.42578 8.5625C8.29428 8.5625 9.12905 8.17398 9.6788 7.56723C10.2316 8.17473 11.0678 8.5625 11.9333 8.5625C12.261 8.5625 12.5708 8.495 12.8633 8.39075V12.5C12.8633 13.43 12.1065 14.1875 11.1758 14.1875Z')
                  span(class="text-sm duration-200 group-hover:text-white") 官網
                a(class="flex items-center gap-x-[6px] border border-gray-200 rounded-full px-4 py-2 duration-200 group hover:bg-primary-dark hover:border-primary-dark" href="https://www.facebook.com/farmerstation.tw/?ref=embed_page")
                  svg(class="duration-200 fill-current group-hover:text-white" width='19' height='18' viewbox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M17.3008 9.00232C17.3008 4.65261 13.7755 1.12732 9.42578 1.12732C5.07607 1.12732 1.55078 4.65261 1.55078 9.00232C1.55078 12.9337 4.43008 16.1913 8.19531 16.782V11.2787H6.1958V9.00232H8.19531V7.26736C8.19531 5.29399 9.37041 4.20349 11.17 4.20349C12.0313 4.20349 12.9326 4.3573 12.9326 4.3573V6.29529H11.939C10.9608 6.29529 10.6562 6.90283 10.6562 7.52576V9.00232H12.8403L12.4912 11.2787H10.6562V16.782C14.4215 16.1913 17.3008 12.9337 17.3008 9.00232Z')
                  span(class="text-sm duration-200 group-hover:text-white") Facebook
          div(class="swiper-container")
            div(class="swiper swiper-list w-full h-[264px] lg:h-[426px] rounded-lg overflow-hidden")
              // Additional required wrapper
              div(class="swiper-wrapper peer before:absolute before:inset-0 before:z-1 before:w-full before:h-full before:opacity-20 before:bg-gradient-to-r before:from-black before:via-transparent before:to-black")
                // Slides
                each val in [1, 2, 3, 4, 5, 6, 7]
                  div(class="swiper-slide")
                    img(class="object-cover object-center w-full h-full" src=`../images/index/index-bg${val}.jpg`, alt="")
              div(class="swiper-pagination swiper-list-pagination")
              div(class="swiper-button-prev swiper-button-list-prev duration-200 opacity-0 peer-hover:opacity-100 hover:opacity-100 flex bg-white items-center justify-center !w-9 !h-9 rounded-full !left-4")
                img(src="../images/icons/Arrow-Left.svg" alt="")
              div(class="swiper-button-next swiper-button-list-next duration-200 opacity-0 peer-hover:opacity-100 hover:opacity-100 flex bg-white items-center justify-center !w-9 !h-9 rounded-full !right-4")
                img(src="../images/icons/Arrow-Right.svg" alt="")
            div(class="mt-5")
            div(class="flex flex-col lg:items-center gap-x-4 lg:flex-row lg:gap-y-0 gap-y-3")
              p(class="text-lg font-medium text-black break-words lg:text-xl line-clamp lg:line-clamp-2 line-clamp-1 tracking-1") 新北市五股區農會農民直銷站新北市五股區農會農民直銷站新北市五股區農會農民直銷站新北市五股區農會農民直銷站
              div(class="flex items-center lg:self-center self-start flex-shrink-0 gap-x-[6px] px-3 lg:py-2 py-[6px] bg-primary lg:rounded-lg rounded-md")
                img(class="" src="../images/icons/Check.svg" alt="")
                p(class="text-white lg:text-sm text-13") 設置惜食區
            ul(class="mt-3 space-y-3 lg:mt-5")
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 營業地址：
                p 新北市五股區民義路一段21號
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 營業時間：
                // 營業中 / 休息中 用 hidden 做隱藏
                p(class="hidden text-primary-dark") 營業中
                p(class="text-gray-600") 休息中
                div(class="relative flex items-center pl-3 ml-3 border-l border-black cursor-pointer dropdown gap-x-2 border-opacity-20" tabindex="-1")
                  div(class="flex items-center dropdown-btn gap-x-2")
                    span(class="text-sm") 查看時間
                    img(src="../images/icons/DropDown.svg" alt="")
                  div(class="fixed lg:z-10 z-50 lg:w-auto w-full lg:h-auto h-full invisible transition-all duration-300 origin-top transform scale-95 lg:-translate-x-1/2 -translate-x-0 lg:!-translate-y-2 !-translate-y-0 opacity-0 dropdown-menu lg:absolute top-0 lg:top-10 lg:left-1/2 left-0 lg:origin-top-center  before:bg-black before:absolute before:inset-0 before:w-full before:h-full before:bg-opacity-50 before:lg:rounded-lg before:rounded-none")
                    div(class="triangle-share w-[294px] lg:w-[169px] relative lg:z-0 z-40 lg:left-auto left-1/2 lg:top-auto top-1/2 lg:translate-x-0 -translate-x-1/2 lg:translate-y-0 -translate-y-1/2 before:right-0 before:lg:right-auto before:lg:left-1/2 before:left-auto bg-white lg:rounded-lg rounded-md lg:px-4 lg:py-2 pt-6 px-8 pb-6 shadow")
                      button(class="absolute flex items-center justify-center rounded-full dropdown-close-btn -top-4 -right-4 lg:hidden w-9 h-9 bg-primary" type="button")
                        img(src="../images/icons/Cross.svg" alt="")
                      div(class="flex items-center lg:hidden gap-x-2")
                        img(src="../images/icons/Clock.svg" alt="")
                        p(class="text-base text-black") 營業時間                  
                      ul(class="space-y-[10px] grid grid-cols-1 divide-y divide-gray-100 lg:mt-0 mt-4")
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期日
                            span 11:30–15:00
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期一
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期二
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期三
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期四
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期五
                            span 11:30–21:30
                        li(class="!first:pt-0 pt-[10px] lg:px-0 px-4")
                          div(class="flex items-center text-sm text-gray-600 gap-x-4")
                            span 星期六
                            span 11:30–15:00
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 電話：
                p (02)2294-2223
              li(class="flex text-gray-600 lg:text-base text-15")
                p(class="flex-shrink-0") 農特產：
                p 絲瓜、洋蔥、番石榴、萵苣菜、玉米、芒果、金鑽鳳梨、冬瓜、木瓜、火龍果
              li(class="flex text-gray-600 lg:text-base text-15 gap-x-4")
                a(class="flex items-center gap-x-[6px] border border-gray-200 rounded-full px-4 py-2 duration-200 group hover:bg-primary-dark hover:border-primary-dark" href="#")
                  svg(class="duration-200 fill-current group-hover:text-white" width='15' height='16' viewbox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7383 5.75073C14.7383 5.68998 14.7285 5.62995 14.709 5.5722L13.893 3.12354C13.4078 1.66704 12.0495 0.6875 10.5135 0.6875H4.33803C2.80203 0.6875 1.44454 1.66629 0.958542 3.12354L0.142532 5.5722C0.123032 5.62995 0.113281 5.68998 0.113281 5.75073C0.114031 6.48423 0.402781 7.14725 0.863281 7.64825V12.5C0.863281 14.051 2.12478 15.3125 3.67578 15.3125H6.50851V12.5C6.50851 11.9832 6.92926 11.5625 7.44601 11.5625C7.96276 11.5625 8.38351 11.9832 8.38351 12.5V15.3125H11.1758C12.7268 15.3125 13.9883 14.051 13.9883 12.5V7.64825C14.4488 7.1465 14.7375 6.48423 14.7383 5.75073ZM2.02577 3.47903C2.35802 2.48228 3.28728 1.8125 4.33803 1.8125H10.5135C11.5643 1.8125 12.4935 2.48228 12.8258 3.47903L13.611 5.83478C13.5668 6.74003 12.8453 7.4375 11.9333 7.4375C11.1735 7.4375 10.431 6.95446 10.206 6.31396C10.1273 6.08821 9.9143 5.9375 9.67505 5.9375H9.67276C9.43276 5.93825 9.21978 6.09122 9.14253 6.31772C8.92428 6.95597 8.18552 7.4375 7.42427 7.4375C6.66302 7.4375 5.92426 6.95597 5.70601 6.31772C5.62876 6.09122 5.41578 5.93825 5.17578 5.9375H5.17354C4.93504 5.9375 4.72128 6.08821 4.64253 6.31396C4.41753 6.95446 3.67503 7.4375 2.91603 7.4375C2.00403 7.4375 1.28253 6.74003 1.23828 5.83478L2.02577 3.47903ZM11.1758 14.1875H9.50851V12.5C9.50851 11.3622 8.58301 10.4375 7.44601 10.4375C6.30901 10.4375 5.38351 11.3622 5.38351 12.5V14.1875H3.67578C2.74503 14.1875 1.98828 13.4307 1.98828 12.5V8.39075C2.28078 8.495 2.59052 8.5625 2.91827 8.5625C3.78377 8.5625 4.62001 8.17398 5.17276 7.56723C5.72251 8.17473 6.55728 8.5625 7.42578 8.5625C8.29428 8.5625 9.12905 8.17398 9.6788 7.56723C10.2316 8.17473 11.0678 8.5625 11.9333 8.5625C12.261 8.5625 12.5708 8.495 12.8633 8.39075V12.5C12.8633 13.43 12.1065 14.1875 11.1758 14.1875Z')
                  span(class="text-sm duration-200 group-hover:text-white") 官網
                a(class="flex items-center gap-x-[6px] border border-gray-200 rounded-full px-4 py-2 duration-200 group hover:bg-primary-dark hover:border-primary-dark" href="https://www.facebook.com/farmerstation.tw/?ref=embed_page")
                  svg(class="duration-200 fill-current group-hover:text-white" width='19' height='18' viewbox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M17.3008 9.00232C17.3008 4.65261 13.7755 1.12732 9.42578 1.12732C5.07607 1.12732 1.55078 4.65261 1.55078 9.00232C1.55078 12.9337 4.43008 16.1913 8.19531 16.782V11.2787H6.1958V9.00232H8.19531V7.26736C8.19531 5.29399 9.37041 4.20349 11.17 4.20349C12.0313 4.20349 12.9326 4.3573 12.9326 4.3573V6.29529H11.939C10.9608 6.29529 10.6562 6.90283 10.6562 7.52576V9.00232H12.8403L12.4912 11.2787H10.6562V16.782C14.4215 16.1913 17.3008 12.9337 17.3008 9.00232Z')
                  span(class="text-sm duration-200 group-hover:text-white") Facebook


      // 活力好站
      section(class="max-w-screen-xl px-5 mx-auto mt-8 lg:my-14 xl:px-0")
        // 文字區塊
        +title("black", "Recommend", "活力好站")
        div(class="h-8")
        div(class="relative")
          div(class="swiper swiper-related")
            div(class="swiper-wrapper")
              // Slides
              each val in [1, 2, 3, 4, 5, 6]
                div(class="swiper-slide")
                  +card(`${val} - 農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷`, "牆面照片裡的小農，臉上掛著靦腆而自信的笑容，李智遠總幹事說：「現在有 65 位農友登錄，用 Line 群組即時溝通，提供銷售訊息。」")
          div(class="swiper-button-prev swiper-button-related-prev !hidden lg:!flex items-center justify-center !w-9 !h-9 border border-gray-400 rounded-full !left-[-58px]")
            img(src="../images/icons/Arrow-Left.svg" alt="")
          div(class="swiper-button-next swiper-button-related-next !hidden lg:!flex items-center justify-center !w-9 !h-9 border border-gray-400 rounded-full !right-[-58px]")
            img(src="../images/icons/Arrow-Right.svg" alt="")
        div(class="mt-6 text-center lg:mt-5")
          a(class="flex items-center justify-center mx-auto gap-x-3 lg:w-[170px] w-[130px] lg:py-3 py-[6px] border border-primary-dark lg:rounded-lg rounded-md group duration-200 hover:bg-primary" href="#")
            span(class="font-bold duration-200 text-primary-dark text-15 group-hover:text-white") More
            svg(class="duration-200 fill-current text-primary-dark group-hover:text-white" width="6" height="11" viewbox="0 0 6 11" xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M0.146447 0.479943C0.341709 0.284681 0.658291 0.284681 0.853553 0.479943L5.52022 5.14661C5.71548 5.34187 5.71548 5.65845 5.52022 5.85372L0.853553 10.5204C0.658291 10.7156 0.341709 10.7156 0.146447 10.5204C-0.0488155 10.3251 -0.0488155 10.0085 0.146447 9.81328L4.45956 5.50016L0.146447 1.18705C-0.0488155 0.991787 -0.0488155 0.675205 0.146447 0.479943Z")

      // 近期活動
      section(class="max-w-screen-xl px-5 mx-auto mt-8 lg:my-14 xl:px-0")
        // 文字區塊
        +title("black", "Activity", "近期活動")
        div(class="h-8")
        div(class="relative")
          div(class="swiper swiper-activity")
            div(class="swiper-wrapper")
              // Slides
              each val in [1, 2, 3, 4, 5, 6]
                div(class="swiper-slide")
                  +cardActivity(`${val} - 農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷`, "2023.04.13")
          div(class="swiper-button-prev swiper-button-activity-prev !hidden lg:!flex items-center justify-center !w-9 !h-9 border border-gray-400 rounded-full !left-[-58px]")
            img(src="../images/icons/Arrow-Left.svg" alt="")
          div(class="swiper-button-next swiper-button-activity-next !hidden lg:!flex items-center justify-center !w-9 !h-9 border border-gray-400 rounded-full !right-[-58px]")
            img(src="../images/icons/Arrow-Right.svg" alt="")
        div(class="mt-6 text-center lg:mt-5")
          a(class="flex items-center justify-center mx-auto gap-x-3 lg:w-[170px] w-[130px] lg:py-3 py-[6px] border border-primary-dark lg:rounded-lg rounded-md group duration-200 hover:bg-primary" href="#")
            span(class="font-bold duration-200 text-primary-dark text-15 group-hover:text-white") More
            svg(class="duration-200 fill-current text-primary-dark group-hover:text-white" width="6" height="11" viewbox="0 0 6 11" xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M0.146447 0.479943C0.341709 0.284681 0.658291 0.284681 0.853553 0.479943L5.52022 5.14661C5.71548 5.34187 5.71548 5.65845 5.52022 5.85372L0.853553 10.5204C0.658291 10.7156 0.341709 10.7156 0.146447 10.5204C-0.0488155 10.3251 -0.0488155 10.0085 0.146447 9.81328L4.45956 5.50016L0.146447 1.18705C-0.0488155 0.991787 -0.0488155 0.675205 0.146447 0.479943Z")

      // 相關文章
      section(class="bg-gray-50 mt-8 mb-14 lg:mb-20 lg:my-14 xl:px-0 px-5 pt-8 lg:pt-10 pb-10 lg:pb-[60px]")
        div(class="max-w-screen-xl mx-auto ")
          // 文字區塊
          +title("black", "Related Articles", "相關文章")
          div(class="grid grid-cols-1 mt-6 lg:grid-cols-3 lg:gap-x-10 gap-y-8 lg:gap-y-20 lg:mt-10")
            each val in [1, 2, 3, 4, 5, 6]
              a(class="relative flex items-center card-h group gap-x-4 lg:gap-x-5" href="#")
                picture(class="flex-shrink-0 w-[140px] lg:w-[150px] h-[105px] lg:h-[112px] lg:rounded-lg rounded-md overflow-hidden")
                  img(class="object-cover w-full h-auto duration-200 group-hover:scale-105" src="../images/farmers/farmers-list-card.png" alt="")
                div(class="")
                  p(class="text-base text-black break-words duration-200 group-hover:text-primary-dark line-clamp line-clamp-2") 農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照農民直銷站精選照片介紹
                  div(class="flex flex-wrap mt-3 gap-x-4")
                    span(class="inline-block bg-primary-light border border-primary border-opacity-20 text-primary-dark lg:text-sm text-13 px-3 py-[6px] lg:rounded-lg rounded-md" href="#") 好食惜惜

    include ./components/list/footer.pug
    include ./components/common/gotop.pug
