include ./components/common/head.pug
include ./components/common/breadcrumbs.pug
include ./components/common/title.pug
include ./components/common/cardH.pug

doctype html
html(lang="zh-Hant-TW")
  +head("login")
  body
    include ./components/common/header.pug
    main(class="mt-[60px]")
      // 主圖 
      section(class="bg-white relative")
        div(class="max-w-screen-xl mx-auto relative overflow-hidden xl:rounded-lg before:absolute before:inset-0 before:w-full before:h-full before:bg-gradient-to-r before:from-black/50 before:via-black/0 before:to-black/50")
          img(class="w-full h-[150px] xl:h-[250px] object-cover" src="./images/tag/tag-bg.png", alt="")
          h1(class="absolute top-14 xl:top-16 left-5 xl:left-8 text-2xl xl:text-4xl font-bold text-white") 登入專區
      section(class="max-w-[800px] mx-auto mt-[44px] xl:mt-[52px] mb-14 xl:mb-[116px] px-5 xl:px-0")
        ul(class="flex gap-x-6")
          li
            a(class="inline-block text-gray-600 text-sm bg-gray-100 px-3 py-2 border border-gray-200 rounded-lg break-words duration-200 hover:bg-primary hover:border-primary-dark hover:text-white !bg-primary !border-primary-dark !text-white" href="./login.html") 帳號登入
          li
            a(class="inline-block text-gray-600 text-sm bg-gray-100 px-3 py-2 border border-gray-200 rounded-lg break-words duration-200 hover:bg-primary hover:border-primary-dark hover:text-white" href="./signup.html") 帳號註冊
          li
            a(class="inline-block text-gray-600 text-sm bg-gray-100 px-3 py-2 border border-gray-200 rounded-lg break-words duration-200 hover:bg-primary hover:border-primary-dark hover:text-white" href="#") 下載操作手冊
        div(class="bg-gray-100 mt-8 px-5 lg:mt-9 py-10 lg:py-14 rounded-lg")
          div(class="max-w-[450px] mx-auto")
            h2(class="text-black text-2xl lg:text-3xl font-bold text-center") 帳號登入
            div(class="mt-8 flex flex-col gap-y-6")
              label(class="flex flex-col" for="account")
                p(class="text-black text-base") 登入帳號 
                // error 狀態 !border-error-dark !bg-error-light" 
                input(id="account" class="bg-white mt-2 px-4 border border-gray-200 rounded-lg h-12 !border-error-dark !bg-error-light" type="text")
                // error 訊息，用 !hidden 做隱藏
                div(class="flex items-center gap-x-1 mt-2")
                  img(src="./images/icons/Danger.svg", alt="")
                  span(class="text-error-dark") 必填欄位
              label(class="flex flex-col" for="password")
                p(class="text-black text-base") 登入密碼 
                // error 狀態 !border-error-dark !bg-error-light"
                input(id="password" class="bg-white mt-2 px-4 border border-gray-200 rounded-lg h-12" type="password")
                // error 訊息，用 !hidden 做隱藏
                div(class="flex items-center gap-x-1 mt-2 !hidden")
                  img(src="./images/icons/Danger.svg", alt="")
                  span(class="text-error-dark") 必填欄位
            div(class="mt-8 text-center")
              button(class="text-white text-[15px] text-center py-3 w-[225px] bg-primary border border-primary-dark rounded-lg duration-200 hover:bg-primary-dark" type="button") 登入
            div(class="mt-8 text-center")
              a(class="text-gray-500 text-[15px] underline inline-block hover:no-underline" href="#") 忘記密碼

    include ./components/common/footer.pug
    include ./components/common/gotop.pug
