include ./components/common/loading.pug
include ./components/common/head.pug
include ./components/common/breadcrumbs.pug
include ./components/common/title.pug
include ./components/common/cardH.pug

doctype html
html(lang="zh-Hant-TW")
  +head("tag")
  body
    +loading
    include ./components/common/header.pug
    main(class="mt-[52px] lg:mt-[72px]")
      // 浮動 banner
      div(id="banner" class="bg-primary-light border-b border-primary-dark px-5 lg:px-0 py-[10px] lg:py-3 w-full fixed top-0 left-0 transition-all duration-300 ease-out z-20")
        div(class="max-w-screen-xl mx-auto")
          p(class="text-primary-dark text-15 lg:text-base") #番茄
      // 主圖
      section(class="relative bg-white")
        div(class="relative max-w-screen-xl mx-auto overflow-hidden xl:rounded-lg before:absolute before:inset-0 before:w-full before:h-full before:bg-gradient-to-r before:from-black/50 before:via-black/0 before:to-black/50")
          img(class="w-full h-[150px] xl:h-[250px] object-cover" src="./images/tag/tag-bg.png" alt="")
          h1(class="absolute text-2xl font-bold text-white top-14 xl:top-16 left-5 xl:left-8 xl:text-4xl") #番茄(Tag結果頁)
      section(class="max-w-screen-xl px-5 mx-auto mt-6 xl:mt-8 mb-14 xl:mb-20 xl:px-0")
        // 麵包屑
        +breadcrumbs("首頁", "#番茄")

        div(class="flex flex-col min-h-screen mt-6 lg:flex-row gap-x-16 xl:mt-8")
          div(class="w-full lg:w-[800px]")
            div(class="space-y-8 lg:divide-y lg:divide-black lg:divide-opacity-10")
              each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                +cardH("農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照片介紹農民直銷站精選照農民直銷站精選照片介紹", "牆面照片裡的小農，臉上掛著靦腆而自信的笑容，李智遠總幹事說：「現在有 65 位農友登錄，用 Line 群組即時溝通，提供銷售訊息。」 牆面照片裡的小農，臉上掛著靦腆而自信的笑容，李智遠總幹事說：「現在有 65 位農友登錄，用 Line 群組即時溝通，提供銷售訊息。」", "活力好站")
            // 分頁
            div(class="mt-8 xl:mt-16")
              ul(class="flex items-center justify-center space-x-4")
                // 上一頁
                li(class="flex")
                  a(class="w-[24px] h-[28px] inline-flex items-center justify-center text-xs text-gray-500 duration-200 gap-x-2 whitespace-nowrap hover:text-primary" href="#")
                    svg(class="fill-current w-[8px]" viewbox="0 0 8 14" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M6.90027 0.51631C7.14435 0.760388 7.14435 1.15612 6.90027 1.40019L1.50888 6.79159L6.90027 12.183C7.14435 12.4271 7.14435 12.8228 6.90027 13.0669C6.6562 13.3109 6.26047 13.3109 6.01639 13.0669L0.183058 7.23353C-0.0610194 6.98945 -0.0610194 6.59372 0.183058 6.34964L6.01639 0.51631C6.26047 0.272233 6.6562 0.272233 6.90027 0.51631Z")
                // 上一頁 end
                // active 樣式 class 加上 !bg-primary !border-primary-dark !text-white
                li
                  a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm px-[6px] border border-transparent lg:rounded-lg rounded-md duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white !bg-primary !border-primary-dark !text-white" href="#")
                    | 1
                li
                  a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm px-[6px] border border-transparent lg:rounded-lg rounded-md duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white" href="#")
                    | 2
                li
                  a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm px-[6px] border border-transparent lg:rounded-lg rounded-md duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white" href="#")
                    | 3
                li
                  span(class="inline-flex items-center justify-center text-gray-800 text-sm w-[22px] h-[22px]")
                    | ...
                li
                  a(class="inline-flex items-center justify-center bg-gray-100 text-gray-800 text-sm px-[6px] border border-transparent lg:rounded-lg rounded-md duration-200 min-w-[28px] min-h-[28px] hover:bg-primary hover:border-primary-dark hover:text-white" href="#")
                    | 999
                // 下一頁
                li(class="flex")
                  a(class="w-[24px] h-[28px] inline-flex items-center justify-center text-xs text-gray-500 duration-200 gap-x-2 whitespace-nowrap hover:text-primary" href="#")
                    svg(class="fill-current w-[8px]" viewbox="0 0 8 14" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M0.683058 0.724806C0.927136 0.480729 1.32286 0.480729 1.56694 0.724806L7.40027 6.55814C7.64435 6.80222 7.64435 7.19795 7.40027 7.44202L1.56694 13.2754C1.32286 13.5194 0.927136 13.5194 0.683058 13.2754C0.438981 13.0313 0.438981 12.6356 0.683058 12.3915L6.07445 7.00008L0.683058 1.60869C0.438981 1.36461 0.438981 0.968884 0.683058 0.724806Z")

                // 下一頁 end
                // 分頁 end

          div(class="sticky top-[109px] w-full lg:w-[336px] mt-8 lg:mt-0 flex flex-col gap-y-8" style="height:max-content;")
            // 熱門主題
            div(class="px-5 py-5 bg-gray-100 rounded-lg lg:px-6 lg:py-4")
              p(class="text-lg font-medium text-black lg:text-base") 熱門主題
              ul(class="flex flex-wrap mt-4 gap-x-4 gap-y-3")
                // active 狀態 !bg-primary !border-primary-dark !text-white
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #課程活動
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #農民直銷站
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #推薦Tag
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #在地食材
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #香蕉
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #最多15個字超過
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #推動地產地消成果論壇暨頒獎典禮
                li
                  a(class="inline-block px-3 py-2 text-sm text-gray-600 break-words duration-200 border border-gray-200 rounded-md lg:rounded-lg hotTag hover:bg-primary hover:border-primary-dark hover:text-white" href="#") #最多放10個Tag
                li
                  a(class="hotTag inline-block text-gray-600 text-sm px-3 py-2 border border-gray-200 rounded-lg break-words duration-200 hover:bg-primary hover:border-primary-dark hover:text-white !bg-primary !border-primary-dark !text-white" href="#") #番茄

            // 全臺農民直銷據點
            div(class="px-5 py-5 bg-gray-100 rounded-lg lg:px-8 lg:py-4")
              p(class="text-lg font-medium text-black lg:text-base") 全臺農民直銷據點
              ul(class="flex flex-col mt-4 accordion gap-y-2")
                li(class="accordion-item")
                  button(class="accordion-button")
                    span(class="text-sm text-black") 北區
                    svg(class="block w-5 h-5 pointer-events-none" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(class="accordion-add" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.3337 10.625H10.6253V13.3334C10.6253 13.675 10.342 13.9584 10.0003 13.9584C9.65866 13.9584 9.37533 13.675 9.37533 13.3334V10.625H6.66699C6.32533 10.625 6.04199 10.3417 6.04199 10C6.04199 9.65835 6.32533 9.37502 6.66699 9.37502H9.37533V6.66669C9.37533 6.32502 9.65866 6.04169 10.0003 6.04169C10.342 6.04169 10.6253 6.32502 10.6253 6.66669V9.37502H13.3337C13.6753 9.37502 13.9587 9.65835 13.9587 10C13.9587 10.3417 13.6753 10.625 13.3337 10.625Z" fill="#87BE23")
                      path(class="hidden accordion-minus" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.267 10.625H6.60033C6.25866 10.625 5.97533 10.3417 5.97533 10C5.97533 9.65835 6.25866 9.37502 6.60033 9.37502H13.267C13.6087 9.37502 13.892 9.65835 13.892 10C13.892 10.3417 13.617 10.625 13.267 10.625Z" fill="#87BE23")
                  div(class="accordion-content")
                    div(class="flex lg:flex-wrap lg:items-center flex-col lg:flex-row lg:gap-y-2 gap-y-6 lg:gap-x-[30px] py-3 border-t border-black border-opacity-10")
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 北北基
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 桃園
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 新竹
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 新竹
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 新竹
                li(class="accordion-item")
                  button(class="accordion-button")
                    span(class="text-sm text-black") 中區
                    svg(class="block w-5 h-5 pointer-events-none" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(class="accordion-add" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.3337 10.625H10.6253V13.3334C10.6253 13.675 10.342 13.9584 10.0003 13.9584C9.65866 13.9584 9.37533 13.675 9.37533 13.3334V10.625H6.66699C6.32533 10.625 6.04199 10.3417 6.04199 10C6.04199 9.65835 6.32533 9.37502 6.66699 9.37502H9.37533V6.66669C9.37533 6.32502 9.65866 6.04169 10.0003 6.04169C10.342 6.04169 10.6253 6.32502 10.6253 6.66669V9.37502H13.3337C13.6753 9.37502 13.9587 9.65835 13.9587 10C13.9587 10.3417 13.6753 10.625 13.3337 10.625Z" fill="#87BE23")
                      path(class="hidden accordion-minus" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.267 10.625H6.60033C6.25866 10.625 5.97533 10.3417 5.97533 10C5.97533 9.65835 6.25866 9.37502 6.60033 9.37502H13.267C13.6087 9.37502 13.892 9.65835 13.892 10C13.892 10.3417 13.617 10.625 13.267 10.625Z" fill="#87BE23")
                  div(class="accordion-content")
                    div(class="flex lg:flex-wrap lg:items-center flex-col lg:flex-row lg:gap-y-2 gap-y-6 lg:gap-x-[30px] py-3 border-t border-black border-opacity-10")
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 臺中
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 彰化
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 南投
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 雲林
                li(class="accordion-item")
                  button(class="accordion-button")
                    span(class="text-sm text-black") 南區
                    svg(class="block w-5 h-5 pointer-events-none" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(class="accordion-add" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.3337 10.625H10.6253V13.3334C10.6253 13.675 10.342 13.9584 10.0003 13.9584C9.65866 13.9584 9.37533 13.675 9.37533 13.3334V10.625H6.66699C6.32533 10.625 6.04199 10.3417 6.04199 10C6.04199 9.65835 6.32533 9.37502 6.66699 9.37502H9.37533V6.66669C9.37533 6.32502 9.65866 6.04169 10.0003 6.04169C10.342 6.04169 10.6253 6.32502 10.6253 6.66669V9.37502H13.3337C13.6753 9.37502 13.9587 9.65835 13.9587 10C13.9587 10.3417 13.6753 10.625 13.3337 10.625Z" fill="#87BE23")
                      path(class="hidden accordion-minus" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.267 10.625H6.60033C6.25866 10.625 5.97533 10.3417 5.97533 10C5.97533 9.65835 6.25866 9.37502 6.60033 9.37502H13.267C13.6087 9.37502 13.892 9.65835 13.892 10C13.892 10.3417 13.617 10.625 13.267 10.625Z" fill="#87BE23")
                  div(class="accordion-content")
                    div(class="flex lg:flex-wrap lg:items-center flex-col lg:flex-row lg:gap-y-2 gap-y-6 lg:gap-x-[30px] py-3 border-t border-black border-opacity-10")
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 嘉義
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 臺南
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 高雄
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 屏東
                li(class="accordion-item")
                  button(class="accordion-button")
                    span(class="text-sm text-black") 東區
                    svg(class="block w-5 h-5 pointer-events-none" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(class="accordion-add" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.3337 10.625H10.6253V13.3334C10.6253 13.675 10.342 13.9584 10.0003 13.9584C9.65866 13.9584 9.37533 13.675 9.37533 13.3334V10.625H6.66699C6.32533 10.625 6.04199 10.3417 6.04199 10C6.04199 9.65835 6.32533 9.37502 6.66699 9.37502H9.37533V6.66669C9.37533 6.32502 9.65866 6.04169 10.0003 6.04169C10.342 6.04169 10.6253 6.32502 10.6253 6.66669V9.37502H13.3337C13.6753 9.37502 13.9587 9.65835 13.9587 10C13.9587 10.3417 13.6753 10.625 13.3337 10.625Z" fill="#87BE23")
                      path(class="hidden accordion-minus" d="M10.0003 1.66669C5.40866 1.66669 1.66699 5.40835 1.66699 10C1.66699 14.5917 5.40866 18.3334 10.0003 18.3334C14.592 18.3334 18.3337 14.5917 18.3337 10C18.3337 5.40835 14.592 1.66669 10.0003 1.66669ZM13.267 10.625H6.60033C6.25866 10.625 5.97533 10.3417 5.97533 10C5.97533 9.65835 6.25866 9.37502 6.60033 9.37502H13.267C13.6087 9.37502 13.892 9.65835 13.892 10C13.892 10.3417 13.617 10.625 13.267 10.625Z" fill="#87BE23")
                  div(class="accordion-content")
                    div(class="flex lg:flex-wrap lg:items-center flex-col lg:flex-row lg:gap-y-2 gap-y-6 lg:gap-x-[30px] py-3 border-t border-black border-opacity-10")
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 宜蘭
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 花蓮
                      a(class="text-13 text-gray-800 mx-8 lg:mx-0 duration-200 hover:text-primary-dark relative before:absolute before:block before:last:lg:!hidden before:w-[6px] before:h-[6px] before:lg:bg-gray-200 before:bg-black before:rounded-full before:-right-4 before:top-1/2 before:-translate-y-1/2" href="#") 台東


    include ./components/common/footer.pug
    include ./components/common/gotop.pug
