@import url("./tailwind.css");

.triangle-share:before {
  content: "";
  position: absolute;
  top: -12px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent #ffffff transparent;

  @media screen (max-width: 1023px) {
    left: auto;
    right: 0;
  }
}

.article {
  @apply mt-[30px] lg:mt-[38px] border-b border-black border-opacity-10;
}

.article h2 {
  @apply text-black text-xl mb-6 lg:mb-8;
}

.article p {
  @apply text-gray-800 text-base mb-6 lg:mb-8;
}

.article img {
  @apply max-w-[800px] mx-auto mb-6 lg:mb-8 xl:w-auto w-full rounded;
}

.article figure {
  @apply max-w-[800px] mx-auto mb-6 lg:mb-8 xl:w-auto w-full inline-block;
}

.article figure figcaption {
  @apply text-gray-600 text-center mt-3;
}

.article .video-wrapper {
  @apply relative w-full mb-6 lg:mb-8 p-0 overflow-hidden pb-[56.25%];
}

.article .video-wrapper iframe {
  @apply absolute inset-0 w-full h-full border-0;
}

.article iframe {
  @apply mb-6 lg:mb-8;
}

@screen xl {
  .article iframe {
    @apply max-w-[800px] mx-auto;
  }
}

@media (max-width: 800px) {
  .article iframe {
    @apply w-full h-auto;
  }
}

.img {
  @apply text-center;
}

.img figcaption {
  @apply text-left;
}

.accordion-item {
  @apply bg-white rounded-md;
}

.accordion-button {
  @apply flex items-center justify-between w-full px-5 py-3 text-base;
}

.accordion-content {
  @apply bg-white -mt-[3px] px-5 rounded-br-lg rounded-bl-lg overflow-hidden max-h-0 transition-all duration-200 ease-in-out;
}

@media (max-width: 1023px) {
  .swiper-slide {
    @apply !w-[185px];
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}
